body{
    margin:0;
    padding:0;
    background:url(../bg.gif) 0 0 repeat #f7f5f5;
    color:#333;
    font-family:Cambria, Georgia, serif;
    font-size:15px;
    overflow-x:hidden;
}
header, section, footer, hgroup{
    display:block;
}
a {
    color:#35BFFF;
    text-decoration:none;
}
a:hover, a:active{
    color:#91DCFF;
}

/* Header */
#header{
    width:100%;
    background:#000;
    background:rgba(0, 0, 0, 0.8);
    padding:5px 0;
    letter-spacing:1px;
    margin-bottom:20px;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}
#header h1{
    padding:0 20px;
    margin:5px 0;
    text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
    color:#EAEAEA;
    float:left;
    font-size:27px;
}
#backlinks{
    float:right;
    padding:0 20px;
    line-height:22px;
    font-weight:bold;
    font-size:13px;
}
#backlinks a{
    text-align:right;
    display:block;
}

/* Footer */
#footer{
    width:100%;
    position:fixed;
    padding-left:20px;
    bottom:0;
    left:0;
    line-height:20px;
    color:#888;
    font-size:13px;
    background:rgb(0, 0, 0);
    background:rgba(0, 0, 0, 0.8);
    z-index:99;
}
#footer span{
    display:block;
}

/* clearfix */
.clearfix {
    clear:both;
}

/* wrapper css */
#wrapper{
    margin-top:70px;
    width:100%;
}
#wrapper hgroup{
    text-align:center;
}
#wrapper h2{
    margin:5px 0;
    color:#FF6D99;
    text-shadow:1px 1px 2px #A50031;
    font-size:33px;
    font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
    font-style:italic;
    font-weight:normal;
    font-size:18px;
    text-shadow:1px 1px 0 #fff;
    color:#888;
    margin:5px 0;
}





#containerse0{
    position:relative;
    width:100%;
    margin:0 auto 30px;
    text-align: center;
   }

#containersel{
    position:relative;
    width:100%;
     margin-top: 10px;
}

#containersel select{
    background: beige;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 1px blue;
    -webkit-box-shadow: 0px 0px 1px blue;
    box-shadow: 0px 0px 1px blue;
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
    transition: top 1s ease, left 1s ease;
}

#containerse2{
    position:relative;
    
   
}
#containerse2 a{
    color:#c98787;    
}
#containerse3{
    position:relative;
    text-align: right;
    margin-right: 50px;
     margin-top: 20px;
 }
#containerse3 a{
    color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 1px blue;
    -webkit-box-shadow: 0px 0px 1px blue;
    box-shadow: 0px 0px 1px blue;
    padding-left: 5px;
    padding-right:  5px;
    padding-top:  3px;
    padding-bottom:   3px;
}

#containerse3 a:hover{
    color: #c98787;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 1px blue;
    -webkit-box-shadow: 0px 0px 1px blue;
    box-shadow: 0px 0px 1px blue;
     padding-left: 5px;
    padding-right:  5px;
    padding-top:  3px;
    padding-bottom:   3px;
}





#container{
    position:relative;
    width:1100px;
    margin:0 auto 25px;
    padding-bottom: 10px;

}
.grid{


    display: table; 
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px; 
    background: beige;


    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 0px 0px 1px blue;
    -webkit-box-shadow: 0px 0px 1px blue;
    box-shadow: 0px 0px 1px blue;
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;

    width:188px;
    min-height:100px;
    padding: 15px;

    margin:8px;
    font-size:14px;
    float:left;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;


}

.grid {

    text-decoration:none; 

}

.grid  strong {
    text-decoration:none; 
    border-bottom:1px solid #ccc;
    margin:10px 0;
    display:block;
    padding:0 0 5px;
    font-size:17px;
    color:indianred;
}
.grid  .meta{
    text-decoration:none; 
    text-align:right;
    color:#A50031;
    font-style:italic;
}
.grid  .meta1{
    text-decoration:none; 
    text-align:right;
    font-style:italic;
}
.grid  .meta1 a{
    color: #888;
    
}
.grid  .meta1 a:hover{
    color: #c98787;
    
}

.grid  .imgholder {

    color:#777;
}
.grid  p {

    color:#008000;
}
.grid  .imgholder img{
    max-width:100%;
    background:#ccc;
    display:block;
}

@media screen and (max-width : 1240px) {
    body{
        overflow:auto;
    }
}
@media screen and (max-width : 900px) {
    #backlinks{
        float:none;
        clear:both;
    }
    #backlinks a{
        display:inline-block;
        padding-right:20px;
    }
    #wrapper{
        margin-top:90px;
    }
}